@{
    ViewData["Title"] = "Home Page";
}


<br />

<h2>
    Welcome to Royal Bengol Cofee Shop!
    <br />

    <a asp-controller="Home" asp-action="Registration"> Registration</a> <br />
    <a asp-controller="Home" asp-action="RegisterItem"> Register Items</a>
</h2>